body {
  background-color: rgb(6, 66, 6);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.card {
  background-color: #efefef;
  width: fit-content;
  padding: 70px 80px 60px 80px;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.233);
}
#start {
  transition: 0.4s;
  padding: 10px 30px 10px 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: solid cornflowerblue 2px;
  background-color: cornflowerblue;
  color: white;
}

#start:hover {
  transition: 0.4s;
  border-radius: 50px;
}

input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  border: solid black 2px;
}
h1 {
  text-align: center;
}
#logo {
  height: 30px;
  padding-right: 10px;
}
